<a href="https://colab.research.google.com/github/Millicent-Willy/Python-Coding/blob/main/Analyzingdatainpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***John wants to make decisions based on insights from his data.***

He wants us to help him with the below tasks:
1. Add new information about his customers in the dataset.
2. Filter for specific customr information to identify his loyal customers.
3. Remove unnecessary data.
4. Find the most optimal number of cakes he sells per order.

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [6]:
# Importing the csv file
df= pd.read_csv('Chapter Exercise Data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderID           1000 non-null   int64
 1   PricePerItem      1000 non-null   int64
 2   Quantity          1000 non-null   int64
 3   ShippingDistance  994 non-null    float64
 4   CustomerID        1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

In [9]:
df.isnull().sum() #on ShippingDistance has null values

OrderID             0
PricePerItem        0
Quantity            0
ShippingDistance    6
CustomerID          0
dtype: int64

In [15]:
#Filling ShippingDistance null values with zero
df=df.fillna(0)

In [16]:
df.isnull().sum() # No null values now

OrderID             0
PricePerItem        0
Quantity            0
ShippingDistance    0
CustomerID          0
dtype: int64

*John realized that he wanted to add the amount he would make per order onto the DataFrame. Create a column displaying the amount he would make per order.*

In [17]:
df['Revenue']= df['PricePerItem'] * df['Quantity']

In [24]:
df.head(5)

   OrderID  PricePerItem  Quantity  ShippingDistance  CustomerID  Revenue
0        1            10         5               3.0        6671       50
1        2            10        10              84.0        8647      100
2        3            10         1               0.0        4075       10
3        4            10        10              92.0        8452      100
4        5            10         3               2.0        2621       30

**John wants to send out thankyou cards to customers that spend atleast $50 on their order. Filter the DataFrame for the list of customers that fit this criteria.**

In [30]:
df['Thankyou']= df['Revenue'] >=50

In [27]:
df['Thankyou'].count() #1000 cards will be sent

1000

*John wants to send out a gift card to every 300th customer. Find list of customerID's that qualify for the gift.*

In [34]:
df.iloc[[299,599,899],4] # python indexing starts at 0

299     198
599    7682
899    1549
Name: CustomerID, dtype: int64

**Find the average distance that a product travels when shipped.**

In [35]:
df['ShippingDistance'].mean()

48.541

**John wants to know from his orders, what is the most popular order quantity amount. Find the count of each order quantity.**

In [62]:
df= pd.read_csv('Chapter Exercise Data.csv')
Count_of_quantity=df.groupby('Quantity')['OrderID'].count()
Count_of_quantity # Many customers order one product

Quantity
1     113
2      95
3      98
4      94
5      98
6      91
7     103
8     102
9      96
10    110
Name: OrderID, dtype: int64